.login-container[data-v-73923791] {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(/assets/bg-DAc_RxU3.jpg);
    background-size: cover */
}

.login-box[data-v-73923791] {
    width: 350px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000001a;
    background-color: #fffc
}